\makeatletter
    \Configure{graphics}
     {\bgroup
         \Configure{IMG}
            {\HCode{<img src="}}
            {\HCode{" alt="}}
            {" }
            {\HCode{" }}
            {}%
      \Picture+[PIC]{}}
     {\EndPicture
       \HCode{ width="\expandafter\the\csname Gin@req@width\endcsname"
       height="\expandafter\the\csname Gin@req@height\endcsname"
        />}%
      \egroup}
 \makeatother