section {
    clear: both;
}
.captioned-media.captioned-media--left {
    max-width: 46%;
    float: left;
    margin-right: 1.875rem;
    margin-left: .75rem;
}
.html-content {
	 font-size: 1.125rem;
	 margin-bottom: 2.5rem;
}
.html-content img {
    width: auto;
    margin: 1.875rem;
}
.html-content img.float-left  {
    float: left;
    margin: 0 1.875rem 1.875rem 0;
}
.html-content img.float-right {
    margin: 0 0 1.875rem 1.875rem;
}

.html-content img.max-xs {
    max-width: 30%;
}
.html-content img.max-sm {
    max-width: 40%;
}
.html-content img.max-md {
    max-width: 50%;
}
.html-content img.max-lg {
    max-width: 60%;
}
.html-content img.max-xl {
    max-width: 70%;
}
.html-content .margin-bottom-0 {
    margin-bottom: 0;
}

.figure-wrapper-mb {
    margin-bottom: 2.5rem;
}
.header-mb {
    margin-bottom: 3.125rem;
}

header.page-header.page-header--simple .page-header__wrapper .formatted-text {
    margin-top: 1.875rem;
}



.link-collection.link-collection--block.link-collection--dark a.active:link, nav.mobile-nav a.active:link, .link-collection.link-collection--block.link-collection--dark a.active:visited, nav.mobile-nav a.active:visited, .link-collection.link-collection--block.link-collection--dark [data-megamenu]:link, nav.mobile-nav [data-megamenu]:link, .link-collection.link-collection--block.link-collection--dark [data-megamenu]:visited, nav.mobile-nav [data-megamenu]:visited {
	color: #fce300;
}

.teaser-collection.collection--stack {
    margin-top: 2.5rem;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}