@font-face {
    font-family: 'Gandhi Serif';
    src: url('GandhiSerif-BoldItalic.woff2') format('woff2'),
        url('GandhiSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gandhi Serif';
    src: url('GandhiSerif-Italic.woff2') format('woff2'),
        url('GandhiSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gandhi Serif';
    src: url('GandhiSerif-Bold.woff2') format('woff2'),
        url('GandhiSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gandhi Serif';
    src: url('GandhiSerif-Regular.woff2') format('woff2'),
        url('GandhiSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

